/node_modules
/public/img/room/*
/public/img/user/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/fonts
/public/css/app.css
/public/js/app.js
/public/js/app.js.LICENSE.txt

/public/build
.idea/
