body {
    /* background-color: #f3f4f6; */
    background-color: #f0f2f5;
}

.myBtn {
    background-color: #fff;
}

.activate,
.myBtn:hover {
    background-color: #dae0e5;
}

.wrapfooter {
    margin-top: 200vh;
}

.card {
    border-radius: 10px;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    position: fixed;
    left: 10px;
    top: 5rem;
    z-index: 1;
    margin-left: -6rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    border-radius: 0.5rem;
}

.footer {
    height: 55px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 4.5rem;
}

#page-content-wrapper {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    padding-left: unset;
    padding-top: unset;
    padding-bottom: 5rem;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.card {
    padding: unset !important;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -6rem;
    }
    #page-content-wrapper {
        min-width: 100vw;
        padding-left: 6rem;
        padding-top: 4rem;
    }
    #wrapper.toggled #page-content-wrapper {
        padding-left: unset;
    }
}

/* Scrollbar */

/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
}

/* End Scrollbar */

a,
a:active {
    color: #65676b;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}

.select2-container--open {
    z-index: 1055!important;
}
