    /* -----------------------------------------
   Timeline
----------------------------------------- */

.timeline {
    list-style: none;
    padding-left: 0;
    position: relative;
}

.timeline:after {
    content: "";
    height: auto;
    width: 1px;
    background: #e3e3e3;
    position: absolute;
    top: 5px;
    left: 30px;
    bottom: 25px;
}

.timeline.timeline-sm:after {
    left: 12px;
}

.timeline li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 20px;
}

.timeline li:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e3e3e3;
    position: absolute;
    left: 24px;
    top: 5px;
}

.timeline li .timeline-date {
    display: inline-block;
    width: 100%;
    color: #a6a6a6;
    font-style: italic;
    font-size: 13px;
}

.timeline.timeline-icons li {
    padding-top: 7px;
}

.timeline.timeline-icons li:after {
    width: 32px;
    height: 32px;
    background: #fff;
    border: 1px solid #e3e3e3;
    left: 14px;
    top: 0;
    z-index: 11;
}

.timeline.timeline-icons li .timeline-icon {
    position: absolute;
    left: 23.5px;
    top: 7px;
    z-index: 12;
}

.timeline.timeline-icons li .timeline-icon [class*=glyphicon] {
    top: -5px !important;
}

.timeline.timeline-icons.timeline-sm li {
    padding-left: 40px;
    margin-bottom: 10px;
}

.timeline.timeline-icons.timeline-sm li:after {
    left: -5px;
}

.timeline.timeline-icons.timeline-sm li .timeline-icon {
    left: 4.5px;
}

.timeline.timeline-advanced li {
    padding-top: 0;
}

.timeline.timeline-advanced li:after {
    background: #fff;
    border: 1px solid #29b6d8;
}

.timeline.timeline-advanced li:before {
    content: "";
    width: 52px;
    height: 52px;
    border: 10px solid #fff;
    position: absolute;
    left: 4px;
    top: -10px;
    border-radius: 50%;
    z-index: 12;
}

.timeline.timeline-advanced li .timeline-icon {
    color: #29b6d8;
}

.timeline.timeline-advanced li .timeline-date {
    width: 75px;
    position: absolute;
    right: 5px;
    top: 3px;
    text-align: right;
}

.timeline.timeline-advanced li .timeline-title {
    font-size: 17px;
    margin-bottom: 0;
    padding-top: 5px;
    font-weight: bold;
}

.timeline.timeline-advanced li .timeline-subtitle {
    display: inline-block;
    width: 100%;
    color: #a6a6a6;
}

.timeline.timeline-advanced li .timeline-content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 70px;
}

.timeline.timeline-advanced li .timeline-content p {
    margin-bottom: 3px;
}

.timeline.timeline-advanced li .timeline-content .divider-dashed {
    padding-top: 0px;
    margin-bottom: 7px;
    width: 200px;
}

.timeline.timeline-advanced li .timeline-user {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.timeline.timeline-advanced li .timeline-user:before,
.timeline.timeline-advanced li .timeline-user:after {
    content: " ";
    display: table;
}

.timeline.timeline-advanced li .timeline-user:after {
    clear: both;
}

.timeline.timeline-advanced li .timeline-user .timeline-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}

.timeline.timeline-advanced li .timeline-user .timeline-user-name {
    font-weight: bold;
    margin-bottom: 0;
}

.timeline.timeline-advanced li .timeline-user .timeline-user-subtitle {
    color: #a6a6a6;
    margin-top: -4px;
    margin-bottom: 0;
}

.timeline.timeline-advanced li .timeline-link {
    margin-left: 5px;
    display: inline-block;
}

.timeline-load-more-btn {
    margin-left: 70px;
}

.timeline-load-more-btn i {
    margin-right: 5px;
}
/* -----------------------------------------
Dropdown
----------------------------------------- */

.dropdown-menu {
    padding: 0 0 0 0;
}

.dropdown-header {
    background: #f7f9fe;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
}

.dropdown-menu>li a {
    padding: 10px 20px;
}

.dropdown-toggle::after {
    content: none;
}

.bg-icon {
    background-color: #e4e6eb;
    border-radius: 50%
}

.unread {
    background-color: #e4e6eb;
    border-radius: 0.2rem
}
