body {
    /* background-color: #f3f4f6; */
    background-color: #f0f2f5;
}

.myBtn {
    background-color: #fff;
}

.activate,
.myBtn:hover {
    background-color: #dae0e5;
}

.wrapfooter {
    margin-top: 200vh;
}

.card {
    border-radius: 10px;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -4.5rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    border-radius: 0.5rem;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 4.5rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -4.5rem;
    }
}


/* Scrollbar */


/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
}


/* End Scrollbar */

a,
a:active {
    color: #65676b;
}